/* color*/
$color-white: #fff;
$color-black: #000;
$color-green-1: #04a4a4;
$color-green-2: #5acd98;
$color-green-3: #003134;
$color-green-4: #2fa583;
$color-green-5: rgba(0, 49, 52, 0.7);
$color-green-6: rgba(0, 49, 52, 0.9);
$color-green-7: #003134a6;
$color-green-8: #003134;
$color-green-9: rgba(0, 49, 52, 0.3);
$color-green-10: rgba(0, 49, 52, 0.5);
$color-green-11: hsla(183, 100%, 17%, 0.7);
$color-green-12: #4c6e71;
$color-green-13: rgba(0, 49, 52, 0.85);
$color-red-1: #ff6b6b;
$color-red-2: #ee5253;
$color-red-3: #f06a6a;
$color-red-4: hsl(0, 100%, 78%);
$color-red-5: rgba(255, 143, 143, 0.4);
$color-blue-1: #324b4b;
$color-grey-1: #f1f3f3;
$color-grey-2: #324b4b;
$color-grey-3: #e6f4f1;
$color-grey-4: #e5e5e5;

$color-text: #456b6d;

/* font size */
$fs-html: 16px;
$fs-html-rem: 1rem;
$fs-1: 12px;
$fs-2: 20px;
$fs-3: 25px;
$fs-4: 30px;
$fs-5: 35px;
$fs-6: 40px;
$fs-7: 45px;
$fs-8: 50px;
$fs-9: 55px;
$fs-10: 60px;
$fs-11: 2rem;
$fs-12: 3rem;
$fs-13: 4rem;
$fs-14: 5rem;

/* font weight */
$fw-normal: normal;
$fw-300: 300;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

/* padding */
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 25px;
$pd-6: 30px;
$pd-7: 35px;
$pd-8: 40px;
$pd-9: 45px;
$pd-10: 50px;
$pd-11: 55px;
$pd-12: 60px;
$pd-13: 65px;
$pd-14: 70px;
$pd-15: 75px;
$pd-16: 80px;
$pd-17: 85px;
$pd-18: 90px;
$pd-19: 95px;
$pd-20: 100px;
$pd-21: 200px;
$pd-22: 220px;
$pd-23: 150px;

/* margin */
$mg-1: 5px;
$mg-2: 10px;
$mg-3: 15px;
$mg-4: 20px;
$mg-5: 25px;
$mg-6: 30px;
$mg-7: 35px;
$mg-8: 40px;
$mg-9: 45px;
$mg-10: 50px;
$mg-11: 55px;
$mg-12: 60px;
$mg-13: 65px;
$mg-14: 70px;
$mg-15: 80px;
$mg-16: 90px;
$mg-17: 100px;

/* screen */
$sm-screen: 600px;
$md-screen: 992px;
$lg-screen: 1200px;
