#header {
  @include responsive($md-screen) {
    padding: 0 $pd-8;
    .header__navbar {
      .navbar__config {
        position: relative;
        // z-index: 100000;
        .logo__config {
          left: 0;
          transform: none;
          position: absolute;
        }
        .sidebar__toggle {
          right: 0;
          position: absolute;
          .toggle-button {
            .bar {
              background-color: $color-green-5;
            }
          }
        }
        .header__sidebar {
          position: absolute;
          height: 340px;
          top: 120%;
          width: 100%;
          z-index: -1;
          transform: scale(0.4);
          transform-origin: top right;
          transition: transform 0.4s cubic-bezier(0.325, 1.3, 0.21, 1);
          opacity: 0;
          visibility: hidden;
          &.active {
            opacity: 1;
            transform: scale(1);
            visibility: unset;
          }
          ul {
            padding: $pd-4 0;
            box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.3);
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            li {
              float: none;
              text-align: center;
              a {
                color: $color-grey-3;
                &:active {
                  color: $color-red-1;
                }
                &::after {
                  bottom: 5px;
                  background-color: $color-grey-3;
                }
                &:hover {
                  &::after {
                    width: unset;
                  }
                }
                &.active {
                  &::after {
                    width: 35%;
                  }
                }
              }
            }
            &::before {
              content: "";
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.25);
              background-color: $color-green-12;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}

#home {
  @include responsive($md-screen) {
    position: relative;
    .home__container {
      .home__about {
        .home__about__content {
          .home__name {
            height: 90px;
            h1 {
            }
          }
          .home__brief {
          }
        }
        .home__about__cv {
          .btn-cv {
            animation: none;
          }
        }
      }
      .home__social {
        right: unset;
        left: 60px;
        transform: translateX(-50%);
        bottom: -28rem;
        .social__container {
          transform: rotate(90deg);
          transform-origin: bottom left;

          ul {
            li {
              a {
                i {
                  transform: rotate(-90deg);
                }
              }
            }
          }
          .social__menu {
            i {
              transform: rotate(-90deg);
            }
          }
          .tooltip {
            display: none;
          }
        }
      }
    }
    .home__portrait {
      position: absolute;
      height: 60%;
      left: 70%;
      bottom: -5%;
      transform: translateX(-50%);
    }
  }
}

#about {
  @include responsive($md-screen) {
    padding: $pd-20 0;
    .about__container {
      h1 {
        font-size: 2.8rem;
      }
      .about__img {
        height: 350px;
        margin-bottom: $mg-10;
        .img__container {
          width: 50%;
          height: 350px;
          @include responsive(800px) {
            width: 65%;
            height: 350px;
          }
        }
        &::before {
          left: 22%;
          @include responsive(800px) {
            left: 14.5%;
          }
        }
        &::after {
          right: 22%;
          @include responsive(800px) {
            right: 14.5%;
          }
        }
      }
      .about__content {
        padding: 0 $pd-10;
        ul {
          padding-right: 0;
          li {
            padding: $pd-2 0;
            .about__item {
              .about__icon {
                width: 7rem;
                font-size: $fs-html + 1;
                margin-right: $mg-8;
                i {
                  font-size: $fs-html + 1;
                  margin-right: $mg-1;
                }
              }
              .about__text {
                font-size: $fs-html + 1;
              }
            }
          }
          .about__social {
            text-align: center;
            a {
              margin-right: $mg-5;
            }
          }
        }
      }
    }
  }
}

#resume {
  @include responsive($md-screen) {
    .resume__container {
      .section__title {
        font-size: $fs-12 - 0.2;
        margin-bottom: $mg-14;
      }
      .resume__experience {
        @media screen and (min-width: 601px) {
          .row {
            margin: 0 $mg-8 0 0;
          }
        }
        .experience__title {
          .side-title {
            font-size: $fs-11;
            transform: translate(-40%, 210%) rotate(-90deg);
            @media screen and (min-width: 801px) {
              transform: translate(-35%, 210%) rotate(-90deg);
            }
          }
        }
        .resume__block {
          &:last-child {
            padding-bottom: $pd-8 !important;
          }
          .block__content {
            margin: 0 0 0 $mg-8;
            @media screen and (min-width: 801px) {
              margin: 0 0 0 $mg-10;
            }
          }
        }
      }
      .resume__education {
        @media screen and (min-width: 601px) {
          .row {
            margin: 0 0 0 $mg-8;
          }
        }
        .education__title {
          .side-title {
            font-size: $fs-11;
            transform: translate(-60%, 195%) rotate(-90deg);
            @media screen and (min-width: 801px) {
              transform: translate(-65%, 195%) rotate(-90deg);
            }
          }
        }
        .resume__block {
          &:last-child {
            padding-bottom: $pd-8 !important;
          }
          .block__content {
            margin: 0 $mg-8 0 0;
            @media screen and (min-width: 801px) {
              margin: 0 $mg-10 0 0;
            }
          }
        }
      }
    }
  }
}

#skills {
  @include responsive($md-screen) {
    .skills__container {
      h1 {
        font-size: $fs-11;
        margin-bottom: $mg-10;
      }
      .skills__md {
        height: unset;
        border: none;
        box-shadow: none;
        &::before {
          display: none;
        }
        li {
          display: block;
          padding: 0;
          margin-bottom: $mg-4;
          .collapsible-header {
            background-color: transparent;
            border: none;
            .skills__unit {
              font-size: $fs-html;
              margin: 0;
            }
          }
          .collapsible-body {
            text-align: center;
            border: none;
            padding: $pd-2;
            display: none !important;
            .skills__item {
              margin: 0 auto;
              margin-bottom: $mg-3;
              width: 30%;
              height: 45px;
              img {
                width: 80px;
              }
            }
          }
          &.active {
            .collapsible-body {
              display: flex !important;
              justify-content: space-around;
              flex-wrap: wrap;
              .skills__text {
                font-size: $fs-1;
                line-height: 41px;
              }
            }
          }

          &.skills__knowledge,
          &.skills__language {
            .collapsible-body {
              .skills__item {
                width: 45%;
              }
            }
          }
        }

        &:hover {
          li {
            filter: blur(0);
            transform: none;
          }
        }
      }
    }
  }
}

#footer {
  @include responsive($md-screen) {
    .footer__form {
      padding: $pd-12 0;
      .footer__container {
        h1 {
          font-size: $fs-11 + 0.5;
        }
        p {
          font-size: $fs-1 + 1;
          margin-bottom: $mg-6;
        }
        .footer__info {
          margin-bottom: $mg-4;
          padding: 0;
          ul {
            li {
              p {
                font-size: $fs-html;
                margin-bottom: $mg-2;
              }
              span {
                width: 100px;
                font-size: $fs-1;
                i {
                  font-size: $fs-1 + 2;
                }
              }
              a {
                font-size: $fs-1;
              }
            }
          }
        }
        .footer__send {
          form {
            .form-group {
              input {
                font-size: $fs-1;
              }
              label {
                font-size: $fs-1;
              }
              textarea {
                font-size: $fs-1;
              }
            }
            .btn-submit {
              font-size: $fs-1;
            }
          }
        }
      }
    }
  }
}
