.sidebar__toggle {
  height: 100%;
  display: flex;
  align-items: center;
  .toggle-button {
    .bar {
      height: 3px;
      width: 30px;
      margin-bottom: 6px;
      border-radius: 4px;
      background-color: $color-white;
      transition: all 0.5s;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .bar-1.change {
      transform: translateY(9px) rotate(-45deg);
    }
    .bar-2.change {
      transform: translateX(10px);
      opacity: 0;
    }
    .bar-3.change {
      transform: translateY(-9px) rotate(45deg);
    }
  }
}

.btn-cv {
  line-height: 1;
  box-shadow: none;
  background-color: $color-red-3;
  border-radius: 30px;
  animation: upDown 1s infinite ease alternate;
  a {
    color: $color-grey-3;
    text-decoration: none;
    display: flex;
    align-items: center;

    i {
      line-height: 1;
      margin-right: $mg-1;
    }
  }
  &:hover {
    box-shadow: none;
    background-color: $color-red-1;
  }
  &:focus {
    background-color: $color-red-3;
  }
}

.btn-social {
  background-color: $color-red-1;
  box-shadow: none;
  margin-top: $mg-6;
  width: 8rem;
  a {
    font-size: $fs-html;
    font-weight: $fw-500;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-grey-3;
  }
  &:hover {
    box-shadow: none;
    background-color: $color-red-3;
  }
  &:focus {
    background-color: $color-red-3;
  }
}

.btn-project {
  height: 30px;
  padding: 0 $pd-2;
  line-height: 1;
  display: flex;
  align-items: center;
  box-shadow: none;
  background-color: $color-red-3;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: $color-white;
    font-size: $fs-1;
    text-transform: capitalize;
  }
  &:hover {
    box-shadow: none;
    background-color: $color-red-4;
  }
  &:focus {
    background-color: $color-red-3;
  }
}
.btn-demo {
  height: 30px;
  padding: 0 $pd-2;
  line-height: 1;
  display: flex;
  align-items: center;
  box-shadow: none;
  background-color: $color-green-5;
  border-radius: 5px;
  margin-left: $mg-2;
  a {
    text-decoration: none;
    color: $color-white;
    font-size: $fs-1;
    text-transform: capitalize;
  }
  &:hover {
    box-shadow: none;
    background-color: $color-green-11;
  }
  &:focus {
    background-color: $color-green-5;
  }
}

.btn-submit {
  box-shadow: none;
  background-color: $color-red-3;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: $fs-html;
  color: $color-white;
  &:hover {
    box-shadow: none;
    background-color: $color-red-4;
  }
  &:focus {
    background-color: $color-red-3;
  }
}

.btn-back-to-top {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: $color-red-1;
  transition: all 0.3s;
  i {
    color: $color-white;
    font-size: $fs-2;
    line-height: 40px;
  }
  &:hover {
    background-color: $color-red-4;
  }
}
