@import "./Helpers/variables";
@import "./Helpers/mixin";
@import "./Helpers/function";
@import "./Helpers/animation";

@import "./Base/reset";
@import "./Pages/preloading";
@import "./Base/normalize";

@import "./Components/button";
@import "./Components/tooltip";
@import "./Components/title";
@import "./Components/resumeBlock";
@import "./Components/resumeSideTitle";

@import "./Layouts/header";
@import "./Layouts/footer";

@import "./Pages/home";
@import "./Pages/about";
@import "./Pages/resume";
@import "./Pages/skills";
@import "./Pages/portfolio";

@import "./Responsive/lgScreen";
@import "./Responsive/mdScreen";
@import "./Responsive/smScreen";

@import "./Themes/dark";
